.btn-round {
  background-color: whitesmoke;
  border-radius: 25px !important;
  box-shadow: 0px 2px 5px grey;
  margin: 10px;
  width: 110px;
  height: 39px;
  padding: 8px;
  color: black;
  font-size:15px;
  font-weight: thin;
  
}

.bt{
  padding-top: 150px;
}

.btn-round:focus {
  background-color: lightgray;
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.btn-round:active {
  background-color: lightgray;
  outline: none !important;
  outline-offset: none !important;
}

.display-time {
  background-color: #b8c774;
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  box-shadow: -1px 0px 5px slategray inset;
  text-align: center;
}

.display-time > span {
  color: black;
  font-size: 25px;
  text-align: center;
  font-style: normal;
}

.op-icons {
  width: 30px;
  height: 40px;
  margin: 5px;
  border: 3px solid transparent;
}

.op-icons:active {
  border-bottom: 3px solid transparent;
}

#num-sunflower {
  margin-top: 15px;
}

#num-sunflower > span {
  margin-top: 10px;
  bottom: 0px;
  font-size: 30px;
}

.statement {
  color: green;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.sfIcon {
  width: 50px;
  padding-bottom: 15px;
}

.disSS {

  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 40px;
  padding-top: 15vh;
  padding-bottom: 10px;
  text-align: center;
}

#mode {
  margin: 10px;
}

#start {
  margin: 10px;
}
