p {
    color: green;
    font-family: Arial;
    font-size: 13px;
}

body {
    background-color: #ffffcc;  
    color: green;
    font-family: Arial;
    text-align: center;
  }

.sficon {
    color: green;
    font-family: Arial;
    font-size: 50px;
}

.bg {
    width: "360";
}

.dis {
    color: green;
    font-family: Arial;
    font-size: 18px;
}