body {
    background-color: #ffffcc;  
    color: green;
    font-family: Arial;
    text-align: center;
  }

.logo {
    width: "360";
}

.sfIcon {
    color: green;
    font-family: Arial;
    font-size: 50px;
    width: "50";
}

.disSS {
    color: green;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 40px;
}

.statement {
    color: green;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 40px;
}